@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    overflow-x: hidden;
}

.section-margin{
    width: 65% ;
    margin: auto;
}

/*-------- Media query -------*/
@media screen and (max-width: 1300px) {
    .section-margin{
      width: 80%;
    }
  }

  @media screen and (max-width: 1150px) {
    .section-margin{
      width: 90%;
    }
  }

  @media screen and (max-width: 1000px) {
    .section-margin{
      width: 80%; 
    }
  }
@media screen and (max-width: 800px) {
    html{
        font-size: 15px;
    }
  }

  @media screen and (max-width: 500px) {
    html{
        font-size: 14px;
    }
  }