.Conta_main{
    background-color: white;
}

.Contact_main{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.Contact_main h5{
    color: blue;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 40px 0px 10px 0px;
 }

.Contact_main h3{
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    font-weight: 700;
    padding: 10px 0px;
    margin-bottom: 4rem ;
}

.Contact_logo{
    display: flex;
 }

.Contact_logo_item{
    display: flex;
    align-items: center;
    margin-right: 50px  ;
    margin-left: 0px;
}

.Contact_logo_item .Logo{
    color: rgb(59, 59, 243);
    padding: 10px 13px 2px 13px;
    margin-right: 20px;
    font-size: 1.7rem;
    border-radius: 50%;
    box-shadow: -1px 1px 18px 1px rgba(0,0,0,0.30);
-webkit-box-shadow: -1px 1px 18px 1px rgba(0,0,0,0.30);
-moz-box-shadow: -1px 1px 18px 1px rgba(0,0,0,0.30);

}

.Contact_logo_item .Text h2{
    font-size: 1.3rem;
}

.Contact_logo_item .Text p{
    font-size: 1.1rem;
    color: gray;
    cursor: pointer;
    transition: all .4s;
}

.Contact_logo_item .Text p:hover{
    color: blueviolet;
}

/*------------------- Query Selectors --------------*/

@media screen and (max-width: 850px) {

    .Contact_main{
        text-align: center;
    }

    .Contact_logo{
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Contact_logo_item{
        display: flex;
        flex-direction: column;
    }

    .Contact_logo_item .Logo{
        font-size: 3rem;
        padding: 12px 17px 0px 17px;
        margin: 15px 0px 15px 8px;
        
    }

    .Contact_logo_item .Text h2{
        font-size: 1.7rem;

    }

    .Contact_logo_item .Text p{
        font-size: 1.3rem;
        padding: 10px;

    }
}